.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.btn-crud {
    color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
}

.row-show{
    margin-bottom: 15px;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;

}

.breadcrumb a{
    text-decoration: none;
    color: #4a545f;
}
.breadcrumb a:hover, .breadcrumb a .active{
    text-decoration: none;
    color: #000;
}

nav-tabs .nav-link {
    color: #4a545f;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #4a545f;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #212529;
}

.right{
    padding-top: 20px;
    float: right;
}